In [1]:
import pandas as pd

In [14]:
clean_fao = pd.DataFrame(
    {
        'area_clean':[
            'Bahamas', 
            'Taiwan', 
            'Hong kong', 
            'Macau', 'Macedonia'
            ], 
        'area_abbreviation':[
            '1', 
            '2', 
            '3', 
            '4', 
            '5'
            ]
    }
)

In [15]:
clean_fao

  area_clean area_abbreviation
0    Bahamas                 1
1     Taiwan                 2
2  Hong kong                 3
3      Macau                 4
4  Macedonia                 5

In [21]:
def func(code=[], country=[], df=None):
    for n, m in zip(country, code):
        cond = clean_fao['area_clean'] == n
        df.loc[cond, 'area_abbreviation'] = m
    return

In [24]:
func(country=['Bahamas', 'Taiwan', 'Hong kong'], code=['HKG', 'BHS', 'TW'], df=clean_fao)

In [25]:
clean_fao

  area_clean area_abbreviation
0    Bahamas               HKG
1     Taiwan               BHS
2  Hong kong                TW
3      Macau                 4
4  Macedonia                 5